/*reset css*/
html,body{height: 100%;overflow: hidden}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}

/*公共样式*/
.commonTitle{
    color:#009ee0; font-size:80px; line-height:0.8;
    font-weight:bold; letter-spacing:-5px;
}
.commonText{
 color:white; line-height:1.5; font-size:15px;
}
#wrap{
    position: relative;
    height:100%;
}
.header-wrap{
    position: relative;
    z-index: 10;
    width:100%;
}
.header-inner{
    width:1100px;
    height:80px;
    background: white;
    margin: 0 auto;
}
#logo{
    float: left;
    margin-top: 15px;
}
.musi-icon{
    float: left;
    margin-top: 50px;
}
.nav{
    float: right;
    margin-top: 50px;
}
.nav li{
    cursor: pointer;
    float: left;
    position: relative;
    margin-left: 40px;
}
.nav li:hover .down{
    width:100%;
}
.down{
    width:0;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    transition: width 1s ;
}
.up{
    color: red;
}
/*小箭头*/
.arrows{
    width:21px;
    height:11px;
    position: absolute;
    left:0;
    bottom: -11px;
    background: url("../img/arrow.png");
    background-repeat: no-repeat;
    transition: left 1s;
}
/*內容区*/
.content{
    position: absolute;
    top:80px;
    left:0;
    right:0;
    bottom:0;
}
.content-inner{
    position: absolute;
    left:0;
    top:0;
    height: 500%;
    width: 100%;
    transition: top 1s;
}

.content-inner>li{
    position: relative;
    height:20%;
    background-repeat: no-repeat;
}
.content-inner>li:nth-child(1){
    background: url("../img/bg1.jpg");
}
.content-inner>li:nth-child(2){
    background: url("../img/bg2.jpg");
}
.content-inner>li:nth-child(3){
    background: url("../img/bg3.jpg");
}
.content-inner>li:nth-child(4){
    background: url("../img/bg4.jpg");
}
.content-inner>li:nth-child(5){
    background: url("../img/bg5.jpg");
}
.content-inner section{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    width: 1100px;
    height:520px;
}

/*第一屏*/

/*轮播*/
.homme .section{

}
.homme-carousel{
    position: relative;
    height:100%;
    transform-style: preserve-3d;
    perspective: 1000px;
}
.homme-carousel>li{
    position: absolute;
    top:0;
    left:0;
    color: white;
    height:100%;
    width: 100%;
    text-align: center;
    line-height: 520px;
    visibility: hidden;
}
.homme-carousel .active{
    visibility: visible;
}
.homme-carousel>li:nth-child(1){
     background:#dc6c5f;
 }
.homme-carousel>li:nth-child(2){
    background:#95dc84;
}
.homme-carousel>li:nth-child(3){
    background:#64b9d2;
}
.homme-carousel>li:nth-child(4){
    background:#000000;
}


/*第一屏下边小圆点*/
.homme-dot{
    position: absolute;
    left:50%;
    bottom: 0;
    transform: translate(-50%);
}

.homme-dot>li{
    float: left;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,0.5);
    margin: 2px;
    box-shadow: 0 0 4px rgba(25,25,25,0.8);
}
.homme-dot .active{
    background: yellow !important;
}

/*左边隐藏*/

.homme-carousel .rightHide{
    visibility: hidden;
    animation: rightHide 2s linear;
}
.homme-carousel .rightShow{
    visibility: visible;
    animation: rightShow 2s linear;
}

.homme-carousel .leftHide{
    visibility: hidden;
    animation: leftHide 2s linear;
}
.homme-carousel .leftShow{
    visibility: visible;
    animation: leftShow 2s linear;
}


/*定义动画*/
@keyframes rightShow{
    0%{visibility: hidden;transform: translateZ(-200px);}
    50%{transform: translateX(40%) rotateY(-30deg) scale(.8);}
    100%{

        visibility: visible;
    }
}

@keyframes leftShow{
    0%{visibility: hidden;transform: translateZ(-200px);}
    50%{transform: translateX(-40%) rotateY(30deg) scale(.8);}
    100%{

        visibility: visible;
    }
}

@keyframes rightHide{

    0%{visibility: visible;}
    50%{transform: translateX(40%) rotateY(-30deg) scale(.8);}
    100%{
        transform: translateZ(-200px);
        visibility: hidden;}
}
@keyframes leftHide{
    0%{visibility: visible;}
    50%{transform: translateX(-40%) rotateY(30deg) scale(.8);}
    100%{
        transform: translateZ(-200px);
        visibility: hidden;}
}


/*第二屏*/
.content-inner{
    position: relative;
}
.course-title{
    margin: 50px;
}
.course-content{
    width:400px;
    margin-left: 50px;
}
.course-lists{
    position: absolute;
    top: 70px;
    right: 50px;
    width:480px;
    box-sizing: border-box;

}
.course-lists li{
    position: relative;
    float: left;
    width: 120px;
    height: 132px;
    transform-style: preserve-3d;
    box-sizing: border-box;
    transition: transform 2s;
}

.course-lists li .back{
    box-sizing: border-box;
    position: absolute;
    top:0;
    left: 0;
    background: #009ee0;
    padding: 15px;
    width: 100%;
    height:100%;
    transition: transform 2s;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.course-lists li .front{
    position: absolute;
    left:0;
    top: 0;
    height:100%;
    width:100%;
    text-align: center;
    line-height: 132px;
    transition: transform 2s;
    backface-visibility: hidden;
}
.course-lists li .front span{
    font-size: 30px !important;
}
.course-lists li:hover .front{
    transform: rotateY(180deg);
}
.course-lists li:hover .back{
    transform: rotateY(360deg);
}

/*背景*/
.course-background li{
    position: absolute;
    top: 66px;
    right: 44px;
    width: 9px;
    height: 410px;
    background-image: url("../img/plus_row.png");
}
.course-background li:nth-child(2){
    right: 164px;
}
.course-background li:nth-child(3){
    right: 284px;
}
.course-background li:nth-child(4){
    right: 404px;
}
.course-background li:nth-child(5){
    right: 524px;
}


/*第三屏*/
.works-inner{
    width: 100%;
    transform-style: preserve-3d;
}
.works-title{
    margin: 50px 0 100px 50px;
}
.works-lists{
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 50px;
}
.works-lists li{
    position: relative;
    float: left;
    width: 220px;
    height: 133px;
    margin: 0 1px;
    overflow: hidden;

}
.works-lists li:last-child{
    width: 332px;
}
.works-lists li img{
    transition: transform 1s;
}

/*机器人*/
.works .robot{
    position: absolute;
    top: 185px;
    left: 900px;
    width: 167px;
    height: 191px;
    z-index: 100;
    background-image: url("../img/robot.png");
    background-repeat: no-repeat;
    animation: robotMove 5s infinite linear;
}

@keyframes robotMove{
    0%{}
    49%{transform: translateX(-900px)}
    50%{transform: translateX(-900px) rotateY(180deg)}
    100%{transform: rotateY(180deg)}
}

/*遮罩层*/
.works-lists .mask{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:100%;
    background: rgba(25,25,25,0.8);
    color: white;
    opacity: 0;
    transition: opacity 1s;
}

.works-lists .mask span{
    display: block;
    margin: 10px;
}

.works-lists .mask .icon{
    width: 32px;
    height: 34px;
    background: url("../img/zoomico.png");
    background-repeat: no-repeat;
    margin: 20px auto 0;
    transition: background-position 1s;
}

.works-lists li:hover img{
 transform: rotate(30deg) scale(1.5);
}

.works-lists li:hover .mask{
    opacity: 1;
}
.works-lists li:hover .icon{
    background-position: 0 -35px;
}


/*第四屏*/

.about-inner{
    position: relative;
}
.about-title{
    margin: 50px 0 100px 50px;
}

.about-content{
    width: 400px;
    margin-left: 50px;
}

.about-shrink{
    position: absolute;
    top: 50px;
    right: 80px;
    width: 420px;
    height:450px;
}

.top-shrink{
    position: absolute;
    top: 0;
    right: 0;

    /*width: 260px;*/
    /*height: 200px;*/
    /*background-image: url("../img/about2.jpg");*/
    border:5px solid rgba(255,255,255,0.5);
    border-radius: 5px;
}
.bottom-shrink{
    position: absolute;
    left: 0;
    bottom: 0;
    /*width: 260px;*/
    /*height: 200px;*/
    /*background-image: url("../img/about4.jpg");*/
    border:5px solid rgba(255,255,255,0.5);
    border-radius: 5px;
}

.about-shrink ul{
   overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;

}
.box-two-wrap{
    overflow: hidden;
    float: left;
}
.about-shrink ul li{
    overflow: hidden;
    float: left;
    width: 130px;
    height:100px;
    transition: transform 2s;

}

/*.about-shrink .shrink-box img{*/

    /*width:130px;*/
    /*height: 100px;*/
/*}*/
/*topShrink*/
.top-shrink .shrink-box li:nth-child(1){
    background-image: url("../img/about1.jpg");
    background-repeat: no-repeat;
}
.top-shrink .shrink-box .box-two{
    background-image: url("../img/about1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    transition: transform 2s;
}
.top-shrink .shrink-box .box-three{
    background-image: url("../img/about1.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;

}
.top-shrink .shrink-box .box-four{
    background-image: url("../img/about1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;

}

/*bottomShrink*/
.bottom-shrink .shrink-box li:nth-child(1){
    background-image: url("../img/about3.jpg");
    background-repeat: no-repeat;
}
.bottom-shrink .shrink-box .box-two{
    background-image: url("../img/about3.jpg");
    background-repeat: no-repeat;
    background-position: right top;
}
.bottom-shrink .shrink-box .box-three{
    background-image: url("../img/about3.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;

}
.bottom-shrink .shrink-box .box-four{
    background-image: url("../img/about3.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
}



.about-shrink ul:hover .box-two{
    /*transition: transform 2s;*/
    transform: translateX(-130px);
}
.about-shrink ul:hover .box-three{
    /*transition: transform 2s;*/
    transform: translateX(130px);
}
.about-shrink ul:hover .box-one{
    /*transition: transform 2s;*/
    transform: translateY(130px);
}
.about-shrink ul:hover .box-four{
    /*transition: transform 2s;*/
    transform: translateY(-130px);
}