/*reset css*/
html,body{height: 100%;overflow: hidden}
html,body,h1,h2,h3,h4,h5,h6,p,ul,li{margin: 0px;padding: 0px;font: 14px "微软雅黑";}
a{text-decoration: none;display: block;}
li{list-style: none;}
img{display: block;}

/*清除浮动*/
.clearfix{*zoom: 1;}
.clearfix:after{content: "";display: block;clear: both;}


#wrap{
    position: relative;
    height:100%;
}
.header-wrap{
    background: yellow;
    position: relative;
    z-index: 10;
    width:100%;
}
.header-inner{
    width:1100px;
    height:80px;
    background: pink;
    margin: 0 auto;
}
#logo{
    float: left;
    margin-top: 15px;
}
.musi-icon{
    float: left;
    margin-top: 50px;
}
.nav{
    float: right;
    margin-top: 50px;
}
.nav li{
    cursor: pointer;
    float: left;
    position: relative;
    margin-left: 40px;
}
.nav li:hover .down{
    width:100%;
}
.down{
    width:0;
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    transition: width 1s ;
}
.up{
    color: red;
}
/*小箭头*/
.arrows{
    width:21px;
    height:11px;
    position: absolute;
    left:0;
    bottom: -11px;
    background: url("../img/arrow.png");
    background-repeat: no-repeat;
}
/*內容区*/
.content{
    position: absolute;
    top:80px;
    left:0;
    right:0;
    bottom:0;
}
.content-inner{
    position: absolute;
    left:0;
    top:0;
    height: 500%;
    width: 100%;
    transition: top 1s;
}

.content-inner>li{
    position: relative;
    height:20%;
    background: yellow;
}
.content-inner section{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    width: 1100px;
    height:520px;
    background: pink;
}

